*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
em,
img,
strong,
ol,
ul,
li,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    color: inherit;
    font-family: 'Montserrat';
}

ol,
ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img,
picture {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    outline: none;
    font: inherit;
}

@media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

:root {
    --color-f: #ffffff;
    --color-2: #222222;

    --font-size-xs: 0.75rem;
    /* 0.75rem 12px */
    --font-size-sm: 0.875rem;
    /* 0.875rem 14px */
    --font-size-base: 1rem;
    /* 1rem 16px */
    --font-size-md: 1.25rem;
    /* 1.25rem 20px */
    --font-size-lg: 1.5rem;
    /* 1.5rem 24px */
    --font-size-xl: 2rem;
    /* 2rem 32px */
    --font-size-xxl: 3.25rem;
    /* 3.25rem 60px */
    --font-size-header: 9rem;
    /* 9rem ~150px */
}
h1 {
    font-size: var(--font-size-header);
}
h2 {
    font-size: var(--font-size-xxl);
}
h3 {
    font-size: var(--font-size-xl);
}
h4 {
    font-size: var(--font-size-lg);
}
h5 {
    font-size: var(--font-size-md);
}
p{
    font-size: var(--font-size-base);
}
html {
    color: var(--color-2);
}
