header {
    background: linear-gradient(45deg, #f2a7a7d8 0% 50%, #8c655d98 50% 100%), url(../images/main\ bg\ pic.jpg);
    background-size: cover;
    background-position-y: bottom;
    color: white;
    padding: 20px;
}

header .logo {
    font-size: var(--font-size-xl);
    font-weight: 600;
}

header nav {
    gap: 1rem;
    font-weight: 500;
}

header nav a::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background-color: var(--color-f);
    margin-top: 1px;
    transition: .3s ease;
}

header nav a:hover::after {
    width: 100%;
    background-color: rgb(255, 208, 37);
}

header nav a {
    transition: .3s ease;
}

header nav a:hover {
    color: rgb(255, 208, 37);
}

header .welcome {
    padding-top: 6rem;
}

header .welcome h1 {
    text-align: center;
    text-transform: uppercase;
    line-height: 8.5rem;
    font-weight: 600;
}

header .welcome .separate {
    height: 4px;
    background-color: var(--color-f);
    margin: 3rem 0;
    width: 10%;
}

header .welcome>a {
    padding: 10px 20px;
    border: 2px solid var(--color-f);
    text-transform: uppercase;
    transition: .4s ease-in-out;
    margin-bottom: 6rem;
}

header .welcome>a:hover {
    color: rgb(255, 208, 37);
    border-color: rgb(255, 208, 37);
}

header .welcome .welcome-footer .line {
    height: 4px;
    background-color: var(--color-f);
    position: relative;
}

header .welcome .welcome-footer .line::after {
    content: "";
    position: absolute;
    width: 20%;
    height: 100%;
    background-color: rgb(255, 208, 37);
    transition: .3s ease-out;
}

header .welcome .welcome-footer a:hover .line::after {
    width: 80%;
}

header .welcome .welcome-footer {
    gap: 1rem;
}

header .welcome .welcome-footer h4 {
    font-weight: 800;
}

header .welcome .welcome-footer p {
    font-weight: 300;
    margin-left: 0.5rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}

section.about .images {
    gap: 1.5rem;
}

section.about .images .item-bg {
    width: calc(100%/3);
    height: 27rem;
    background: #262626;
}

section.about .images .item-bg:nth-child(1) .item-img {
    background-image: url(../images/about\ 1.jpg);
    background-position-y: -55px;
}

section.about .images .item-bg:nth-child(2) .item-img {
    background-image: url(../images/about\ 2.jpg);
}

section.about .images .item-bg:nth-child(3) .item-img {
    background-image: url(../images/about\ 3.jpg);
    background-position-y: bottom;
}

section.about .images .item-img {
    background-size: cover;
    transition: .3s ease-out;
}

section.about .images .item-fg {
    background: linear-gradient(45deg, #262626c4, #f2a7a7d5);
    gap: 1.5rem;
    color: var(--color-f);
    font-size: 3rem;
    font-weight: 600;
    opacity: 0;
    transition: .3s ease-out;
}

section.about .images .item-bg:hover .item-img {
    transform: translate(-1rem, -1rem);
}

section.about .images .item-bg:hover .item-fg {
    opacity: 1;
}

section.metrics {
    margin-top: 2.5rem;
    background-color: #262626;
}

section.metrics .item {
    padding: 5rem 0;
    border-left: 2px solid #ccc;
    gap: 0.25rem;
    color: var(--color-f);
}

section.metrics .item:nth-child(5) {
    border-right: 2px solid #ccc;
}

section.metrics .item h3 {
    font-weight: 600;
}

section.metrics .item p {
    text-transform: uppercase;
}

section.services .wrapper {
    flex-wrap: wrap;
}

section.services .wrapper .service {
    width: 33%;
    height: 100px;
    gap: 1rem;
}

section.services .wrapper .separate {
    width: 100%;
    height: 2px;
    background-color: gray;
    margin: 1rem 0;
}

.section.services .wrapper .service i {
    font-size: 2rem;
    color: #262626;
}

.section.services .wrapper .service p {
    font-weight: 300;
    margin-top: 0.5rem;
}

section.devices {
    background: url(../images/main\ bg\ pic.jpg);
    background-size: cover;
}

section.devices .images {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    margin-top: 2.5rem;
}

section.devices .images .smartphone {
    position: absolute;
    width: 60%;
    bottom: -200px;
    right: -200px;
    transition: .5s ease-out;
}

section.devices .images .tablet {
    overflow: hidden;
}

section.devices .images .tablet img {
    margin-bottom: -200px;
}

section.devices:hover .images .smartphone {
    transform: rotate(15deg) translateX(200px);
}

section.we-do .accordion {
    gap: 1.5rem;
}

section.we-do .accordion .accord .title {
    height: 60px;
    border: 1px solid #ccc;
    border-bottom: none;
    padding: 1.5rem;
}

section.we-do .accordion .accord .description {
    height: 0;
    border: 1px solid #ccc;
    padding: 0 1.5rem;
    overflow: hidden;
    transition: .3s ease-out;
}

#accord-1:checked~#label-accord-1 .description,
#accord-2:checked~#label-accord-2 .description,
#accord-3:checked~#label-accord-3 .description {
    height: 150px;
}

section.we-do .accordion .accord .description p {
    margin-top: 1.5rem;
}

section.we-do input {
    display: none;
}

section.we-do .interact {
    gap: 1.125rem;
}

section.carousel .slide:hover .icon svg {
    fill: #ffdb3d;
}

section.carousel .icon {
    padding: 2rem;
    border: 1px solid #ccc;
    margin-right: 2rem;
    transition: .3s;
}

section.carousel .slide:hover .icon {
    border: 1px solid #ffdb3d;
}

section.carousel {
    margin-top: 2.5rem;
}

section.carousel .author {
    margin-top: 1rem;
}

section.carousel .author .line {
    width: 4rem;
    height: 2px;
    background-color: #262626;
    transition: .3s;
}

section.carousel .slide:hover .author .line {
    width: 8rem;
    background-color: #ffdb3d;
}

section.carousel .row {
    width: 300%;
    animation: carousel 18s infinite alternate;
}

section.carousel .row .slide {
    width: 33%;
}

section.carousel .hider {
    overflow-x: hidden;
}

@keyframes carousel {

    0%,
    20% {
        transform: translateX(0);
    }

    30%,
    70% {
        transform: translateX(calc(-100%/3));
    }

    80%,
    100% {
        transform: translateX(calc(-100%/3*2));
    }
}

section.team .images .item-fg .up,
section.team .images .item-fg .down {
    height: 3rem;
    width: 3rem;
    background-color: #262626;
    color: #222;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .4s ease-out;
    color: var(--color-f);
}

section.team .images .item-fg .column:hover .up,
section.team .images .item-fg .column:hover .down {
    background-color: #ffdb3d;
    transform: translateY(-100%);
    color: #222;
}

section.team .images .item-fg .hider {
    height: 3rem;
    overflow-y: hidden;
}

section.about .images .item-bg:nth-child(1) .man-img {
    background-image: url(../images/person\ 1.jpg);
    background-position-y: -50px;
}

section.about .images .item-bg:nth-child(2) .man-img {
    background-image: url(../images/person\ 2.jpg);
    background-position-y: -50px;
}

section.about .images .item-bg:nth-child(3) .man-img {
    background-image: url(../images/person\ 3.jpg);
    background-position-y: bottom;
}

section.grid-gallery {
   
    margin-top: 2.5rem;
}

section.grid-gallery .grid {
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: repeat(4, 1fr);
     height: 70vh;
}

section.grid-gallery .grid .item-grid {
    width: 100%;
    height: 100%;
    background-color: #262626;
    border: 2px solid black;
    background-size: cover;
}

section.grid-gallery .grid .item-grid.big {
    grid-row: 1/3;
    grid-column: 3;
    background-image: url(../images/gal\ 1.jpg);
    background-position-y: bottom;
}

section.grid-gallery .grid .item-grid.fat {
    grid-row: 2;
    grid-column: 1/3;
    background-image: url(../images/gal\ 2.jpg);
    background-position-y: -15px;
}

section.grid-gallery .grid .item-grid:nth-child(3) {
    background-image: url(../images/gal\ 3.jpg);
    background-position-y: bottom;
}

section.grid-gallery .grid .item-grid:nth-child(4) {
    background-image: url(../images/gal\ 4.jpg);
    background-position-y: -15px;
}

section.grid-gallery .grid .item-grid:nth-child(5) {
    background-image: url(../images/gal\ 5.jpg);
    background-position-y: -30px;

}

section.grid-gallery .grid .item-grid:nth-child(6) {
    background-image: url(../images/gal\ 6.jpg);
    background-position-y: bottom;
}
section.grid-gallery .grid .item-grid-fg{
    background: linear-gradient(#3b302d98, #f2a7a7d8);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--color-f);
    height: 100%;
    opacity: 0;
}
section.grid-gallery .grid .item-grid:hover .item-grid-fg{
    opacity: 1;
}
section.carousel.comments .icon {
padding: 0;
border: none;
}
section.carousel.comments .slide:hover  .icon{
border: 0;
width: auto;
}

section.carousel.comments .icon img{
    width: 12rem;
    height: 12rem;
    border-radius: 100%;
    object-fit: cover;
    max-width: none;
}
section.carousel.comments .text{
    padding-left: 1.5rem;
}
section.carousel.comments .text p{
    font-size: 1.25rem;
    font-style: italic;
}
section.clients .container .cell .line {
    margin-top: 16px;
    margin-bottom: 10px;
    width: 100px;
    height: 3px;
    background-color: #ffdb3d;
}

section.clients {
    background-image: linear-gradient(#f2a7a7d8, #8c655d98), url(../images/comments.jpg);
    background-size: cover;
    padding: 80px, 0;
    margin-top: 50px;
}
.section-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 60px, 0;
}
.section-title h2 {
    padding: 10px;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
}
section.clients .container .cell h4 {
    font-size: 18px;
    margin-top: 10px;
    color: #222;
    font-weight: bold;
    font-style: italic;
}
section.clients .container .cell p {
    font-size: 14px;
    color: white;
    letter-spacing: 1px;
    line-height: 150%;
    word-break: break-all;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}
section.clients .container .cell {
    display: flex;
    align-items: center;
    flex-direction: column;
}
section.clients .container img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 100px;
}
section.clients .container .right {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
section.blog .news {
    gap: 1rem;
}

section.blog .news .news-item {
    max-width: calc(100%/3);
}

section.blog .news .news-item img {
    height: 240px;
    width: 100%;
    object-fit: cover;
}

section.blog .news .news-item .header {
    position: relative;
}

section.blog .news .news-item .date {
    background-color: #8c655d98;
    width: 52px;
    height: 70px;
    gap: 0.25rem;
    color: var(--color-f);
    position: absolute;
    bottom: .5rem;
    transform: translate(-15%);
}

section.blog .news .news-item .date h4 {
    font-weight: 800;
}

section.blog .news .news-item .text h4 {
    font-weight: 500;
    margin: 0.5rem 0;
}

section.blog .news .news-item .text p {
    font-size: 0.75rem;
}

section.blog .news .news-item .stats {
    margin-top: 0.5rem;
    border-top: 1px solid #ccc;
    padding: 0.5rem 0;
    gap: 0.5rem;
}

section.blog .news .news-item .stats .stat {
    gap: 0.25rem;
}

section.blog .news .news-item i {
    color: #8c655d98;
    font-size: 0.75rem;
    margin-top: -0.125rem;
}

section.blog .news .news-item .stats p {
    color: #656565;
}

section.map {
    margin: 8rem 0;
}

section.map iframe {
    height: 500px;
    border: 0;
}
section.map iframe {
    height: 500px;
    border: 0;
}
section.map .map-interact{
    z-index: 10;
}
section.map .absolute{
    z-index: 11;
    width: 100%;
    height: 100%;
    background-color: #8c655d98;
    color: var(--color-f);
}
section.map .absolute .title i{
    color: var(--color-f);
}
section.map .container{
    overflow: hidden;
}
section.map .container *{
    transition: .3s;
}
section.map .container:hover h4{
    transform: translateY(-500px);
    transition-delay: 0;
}
section.map .container:hover h2{
    transform: translateY(-500px);
    transition-delay: 300ms;
}
section.map .container:hover .separate{
    transform: translateY(-500px);
    transition-delay: 600ms;
}
section.map .container:hover .absolute{
    transform: translateY(-100%);
    transition-delay: 900ms;
}
