body{
    overflow-x: hidden;
}
.container{
    width: 1140px;
    margin: 0 auto;
}
.w10{width: 10%;}
.w20{width: 20%;}
.w30{width: 30%;}
.w25{width: 25%;}
.w40{width: 40%;}
.w50{width: 50%;}
.w75{width: 75%;}
.w80{width: 80%;}
.w90{width: 90%;}
.w100{width: 100%;}
.h100{height: 100%;}

.df{
    display: flex;
}
.jcc{
    justify-content: center;
}
.jcsb{
    justify-content: space-between;
}
.jce{
    justify-content: end;
}
.aic{
    align-items: center;
}
.aie{
    align-items: end;
}
.aib{
    align-items: baseline;
}
.column-dir{
    flex-direction: column;
}
.kaushan{
    font-family: "Kaushan";
}

section .title{
    text-align: center;
    padding: 2.5rem 0;
    gap: 1.25rem;
}
section .title h2{
    font-weight: 800;
}
section .title .separate{
    font-weight: 800;
    width: 10%;
    height: 4px;
    background-color: rgb(255, 208, 37);
}
section .title p{
    width: 60%;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 1.25rem;
}
section .title h4{
    margin-bottom: -2rem;
    color: #666;

}
